@import "../../styles/utils";

.container {
  padding-top: 55px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 24px;
    width: 80%;
  }

  p {
    margin: 0;
    font-size: 20px;
  }
}

.email {
  display: flex;
  align-items: center;
  margin: 24px 0;
  cursor: default;
}

.icons {
  margin: 24px 0;
  * {
    margin: 0 20px;
  }
}

.icon {
  margin-right: 8px;
  font-size: 40px;
  color: $secondary-color;
}

.portfolio {
  display: flex;
  margin-top: 24px;
  a {
    display: flex;
    align-items: center;
    margin: 0 8px;
    text-decoration: none;
    color: black;
  }
}

@include tablet {
  .wrapper {
    img {
      width: 60%;
    }
  }
}

@include desktop {
  .wrapper {
    img {
      width: 40%;
    }
    p {
      font-size: 24px;
      font-weight: bold;
    }
  }
  .icon {
    font-size: 50px;
  }
}
