@import "../../styles/utils";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 44px;

  h1 {
    margin-bottom: 0;
  }
  ul {
    margin-bottom: 0;
    padding: 0;
  }
}
.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border: 1px solid $secondary-color;
  border-radius: 50%;
}
.icon {
  font-size: 64px;
  color: $secondary-color;
  transition: all 300ms ease;
}

.icon:hover {
  transform: rotate(-30deg) scale(1.1);
}

@include tablet {
  .container {
    h1 {
      font-size: 34px;
    }
    ul {
      font-size: 22px;
    }
  }
  .circle {
    width: 140px;
    height: 140px;
  }
  .icon {
    font-size: 80px;
  }
}

@include desktop {
  .container {
    margin-bottom: 8px;
    h1 {
      font-size: 38px;
    }
    ul {
      font-size: 26px;
    }
  }
  .circle {
    width: 180px;
    height: 180px;
  }
  .icon {
    font-size: 92px;
  }
}
